#claim {
  padding: 100px 0 50px 0;
  background-image: url("../img/claim.jpg");
  background-size: auto 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;

  @media (min-width: 576px) {
    padding: 110px 0 60px 0;
  }

  @media (min-width: 992px) {
    padding: 115px 0 60px 0;
  }

  @media (min-width: 1200px) {
    padding: 120px 0 65px 0;
  }

  @media (min-width: 1600px) {
    padding: 125px 0 70px 0;
  }

  #h1 {
    color: #fff;
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 576px) {
      font-size: 50px;
    }

    @media (min-width: 768px) {
      font-size: 54px;
    }

    @media (min-width: 992px) {
      font-size: 56px;
    }

    @media (min-width: 1200px) {
      font-size: 60px;
    }
  }

  #h2 {
    color: #fff;
    font-size: 26px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 576px) {
      font-size: 30px;
    }
  }
}
