.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-started {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center !important;
}

.md-flex-centered {
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
